---
---

@import "{{ site.theme }}";

body {
  counter-reset: level1;
}

section h1 {
  background-color: #C6EAFA;
  color: #069;
  padding: 4px;
}

section h2 {
  border-left: 16px solid #069;
  padding-left: 0.5em;
}

section h3 {
  border-left: 8px solid #069;
  padding-left: 0.5em;
}

section > ol {
  margin: 0 0 20px;
}

section > ol ul, ol {
  margin: 0 0 0 0;
}
